@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.eot');
    src: url('../fonts/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaylight';
    src: url('raleway-light-webfont.eot');
    src: url('../fonts/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaymedium';
    src: url('raleway-medium-webfont.eot');
    src: url('../fonts/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'raleway';
    src: url('raleway-regular-webfont.eot');
    src: url('../fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('raleway-semibold-webfont.eot');
    src: url('../fonts/raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-semibold-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'geneva';
    src: url('geneva_0-webfont.eot');
    src: url('../fonts/geneva/geneva_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geneva/geneva_0-webfont.woff2') format('woff2'),
         url('../fonts/geneva/geneva_0-webfont.woff') format('woff'),
         url('../fonts/geneva/geneva_0-webfont.ttf') format('truetype'),
         url('../fonts/geneva/geneva_0-webfont.svg#genevaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0px;
	padding: 0px;
	outline: none !important;
}
img  {
	max-width: 100%;
}
body
{
    font-family: 'geneva';
}
/**********/
/*  Main  */
/**********/

.main_wrapper {
	width: 100%;
}
a:hover , a:-webkit-any-link  , a , .company-detail a
{
    text-decoration: none !important;
    color: #313131;
}
.left1 a:-webkit-any-link 
{
   color: #fff; 
}
.company-detail a
{
     color: #313131 !important;
     font-weight: 500;
}



/************/
/*  Header  */
/************/

header {
	/* min-height: 80px; */
}
.header_inner {
	background:url(../images/header_bg.jpg) no-repeat;
	padding: 26px 0px 20px;
}
.logo {
	float: left;
	margin-left: 12px;
}
.logo a {
	display: block;
}
header .right_part {
	float: right;
}
.btn1 {
	background: url(../images/btn.png) repeat-x #132e48;
	float: left;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #6e8a96;
	border-radius: 4px;
	box-shadow: 0 1px 0 #CCCCCC inset;
	padding: 2px 14px;
	margin-right: 12px;
}
.btn1:hover {
	color: #ccc;
	text-decoration: none;
}
.search {
	float: left;
	position: relative;
}
header .right_part input[type="text"] {
	border: 1px solid #AAAAAA;
	border-radius: 0;
	float: left;
	font-size: 15px;
	min-height: 24px;
	padding: 0 5px 0 20px;
	width: 205px;
}
header .right_part input[type="button"] {
	background: url(../images/search_icon.png) no-repeat;
	background-color: transparent;
	border: none;
	min-height: 22px;
	width: 24px;
	position: absolute;
	left: 1px;
	top: 1px;
}
.search label {
	font-size: 12px;
	padding: 2px 12px;
	color: #4c6c7d;
}


/**********/
/*  Menu  */
/**********/

nav {
	background:url(../images/line_bg.jpg) no-repeat top center #333333;
	min-height: 50px;
}
nav .navbar-default {
	background-color: rgba(0, 0, 0, 0);
	border: medium none;
	margin: 0;
	min-height: inherit;
}
.navbar-collapse {
	padding: 0px;
}
.nav > li {
}
.nav > li > a {
	font-size: 15px;
	/* color: #fff !important; */
	padding: 15px 12px;
	/* font-family: ralewaymedium; */
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus ,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
	color: #fff !important;
	background-color: #00aaff;
}
.navbar-default .navbar-nav > li > a:hover{
	
}
.navbar-default .navbar-nav > .active > a .fa,
.navbar-default .navbar-nav > .active > a:hover *,
.navbar-default .navbar-nav > .active > a:focus *,
.navbar-default .navbar-nav > .open > a *,
.navbar-default .navbar-nav > .open > a:hover *,
.navbar-default .navbar-nav > .open > a:focus *
{
    color: #fff;
}
nav .dropdown:hover .dropdown-menu {
	display: block !important
}
.form-control:focus {
	box-shadow: none !important;
}
/***********/
/* Content */
/***********/

.content_part {
	padding: 50px 0;
}
.main .left {
	padding-right: 20px;
}
.box1 {
}
.box2 {
	margin-top: 20px;
}
.box2 .uper {
	overflow: hidden;
	list-style: none;
	border-top: solid #e2e2e2 1px;
	border-bottom: solid #e2e2e2 1px;
	padding: 20px 0px;
	margin: 0px;
}
.box2 .uper li {
	float: left;
	background-color: #c1ca2f;
	border-bottom: 8px solid #d9771b;
	text-align: center;
	width: 170px;
	margin: 0 5.7px;
}
.box2 .uper li a {
	display: table-cell;
	float: none;
	width: 170px;
	height: 95px;
	text-align: center;
	vertical-align: middle;
	font-family: 'novecento_sans_widedemibold';
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}
.box2 .uper li:nth-of-type(1) {
	margin-left: 0px;
}
.box2 .uper li:nth-of-type(4) {
	margin-right: 0px;
}
.box2 .lower {
	overflow: hidden;
	list-style: none;
	padding: 35px 0 50px;
	margin: 0px;
}
.box2 .lower li {
	float: left;
	border: 3px solid #d9771b;
	text-align: center;
	width: 200px;
	margin: 0 28.7px;
}
.box2 .lower li a {
	color: #df7b1d;
	display: table-cell;
	float: none;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	width: 200px;
	padding: 0 30px;
	font-family: 'novecento_sans_wide_bookbold';
	font-size: 12px;
	text-transform: uppercase;
}
.box2 .lower li a:hover {
	text-decoration: none
}
.box2 .lower li:nth-of-type(1) {
	margin-left: 0px;
}
.box2 .lower li:nth-of-type(3) {
	margin-right: 0px;
}
.box3 {
}
.box3 .image {
	float: left;
	width: 130px;
}
.box3 .text {
	float: left;
	margin-left: 2%;
	width: 78%;
}
.box3 .text p {
	width: 100%;
	padding-top: 15px;
	margin-bottom: 0px;
	text-align: left;
}
.left .box3 .text a {
	text-align: left;
	width: 100%;
	float: left;
	padding: 0px;
	color: #df7b1d;
}
.main .right {
	padding-left: 0px;
}
.main .right .title {
	background: url(../images/title.png) no-repeat right top;
	color: #FFFFFF;
	font-size: 19px;
	min-height: 57px;
	padding: 18px 20px;
	text-transform: uppercase;
	margin: 0 0 20px;
}
.list1 {
	list-style: none;
	overflow: hidden;
	padding-left: 20px;
}
.list1 li {
	border-bottom: 1px solid #E2E2E2;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.list1 li .head {
	color: #707070;
	font-family: 'novecento_sans_wide_bookbold';
	font-size: 13px;
	text-transform: uppercase;
	cursor: pointer;
	margin-bottom: 8px;
}
.list1 li p {
	color: #DF7B1D;
	cursor: pointer;
	font-size: 13px;
	margin: 0;
}
/***********/
/*  Footer */
/***********/

footer {
	background: url(../images/footerbg.png) repeat-x #fff;
	width: 100%;
	/* min-height: 208px; */
}
footer a
{
    color: #fff !important;
}
footer .left {
	font-size: 12px;
}
footer .left img {
	margin-top: 35px;
}
footer .left p {
	line-height: 25px;
}
footer .left a {
	color: #555555;
}
footer .right {
	padding-left: 0px;
}
.widget {
	float: left;
	font-size: 12px;
	list-style: none outside none;
	margin: 35px 25px 30px;
}
.widget:nth-of-type(1) {
	margin-left: 0px;
}
.widget:nth-of-type(4) {
	margin-right: 0px;
}
.widget li {
}
.widget li a {
	color: #555555;
}
.widget li strong {
	color: #555555;
}
.dropdown_top {
	background-image: url(../images/dropdown-top.png) !important;
	width: 220px;
	height: 9px;
}
.dropdown-menu li {
	background-image: url(../images/drop-down-bg.png);
	width: 220px;
}
.dropdown-menu li a {
	white-space: pre-wrap !important;
	;
}
.dropdown-menu {
	/* border: 0px !important; */
	box-shadow: none !important;
	/* padding: 0px !important; */
	/* background-color: transparent !important; */
}
.dropdown_bottom {
	background-image: url(../images/drop-down-btm.png) !important;
	width: 220px;
	height: 9px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: transparent !important;
	color: #777777 !important
}
/********* 16-04***********/
.nav > li > a
{
    padding: 7px 15px;
    
}
.input-group.with-icon input
{
  padding-left: 25px;
}
.input-group.with-icon .glyphicon
{
    position: absolute;
  z-index: 4;
  line-height: 30px;
  color: #b8b8b8;
  left: 7px;
}
.navbar-brand
{
    margin-right: 60px;
}
header .glyphicon , header .fa
{
    color: #00aaff;
    margin-right: 3px
}
.search-field *
{
    border-radius: 0;
    height: 30px;
    font-size: 13px;
}
.search-field  button
{
    border: 0;
}
.navbar-default
{
    padding: 10px 0;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li:last-child > a
{
    /* padding-right: 0; */
}
.navbar-right
{
    margin-right: -15px;
    
    margin: 0px -7px;
}
.navbar-nav.navbar-right li
{
    
}
.navbar-right > li > a
{
    padding-left: 10px;
    padding-right: 10px;
}
.blue-bg , .blue-bg:hover , .blue-bg:focus
{
  background: #236887!important;
  color: #fff;
}
.blue-text
{
    color: #236887 !important;
}
.l-blue-text , .anchorBlueLink
{
    color: #00aaff!important;
 
    /* font-family: 'ralewaysemibold'; */
}
.anchorBlueLink:hover
{
       text-decoration: none;
}
#edit-terms
{
      margin-top: 0px!important;
}
#edit-terms ul
{
      list-style-type: disc;
  /* list-style-position: inside; */
  padding-left: 17px;
  font-size: 12px;
}
.l-blue-text a
{
    color: #00aaff!important;
    font-family: 'ralewaysemibold';
}
.navbar-form
{
    margin: 11px 0;
    
    float: right!important;
    padding: 0 10px;
}
.navbar-form.search-field input
{
    width: 120px!important;
}
.banner-content-outer
{
    position: absolute;
  float: left;
  width: 100%;
  height: 100%;
    bottom: 0;
}
.banner-content-blocks{
    /* display: table-cell; */
    
    /* vertical-align: bottom; */
    /* padding-bottom: 10px; */
    width: 100%;   position: absolute;   
    bottom: 10px;
}
.banner-block
{
    /* background: #ccc; */
    min-height: 420px;
    height: auto;
}
.banner-outer
{
    width: 890px;
    background: #666;
    height: 100%;
    /* display: table; */
    float: left;
    height: 420px;
    position: relative;
    overflow: hidden;
}
.banner-content-blocks .block-unit
{
    padding-left: 10px;
    
    padding-right: 10px;
}
.banner-content-blocks .block-unit .inner
{
    background: #fff;
    
    position: relative;
    padding-bottom: 39px;
}
.banner-content-blocks .content
{
    padding: 10px;
    
    padding-left: 80px;
    position: relative;
}
.banner-content-blocks .content img
{
    position: absolute;
    
    left: 10px;
    top: 10px;
    top: 50%;
    margin-top: -2.5em;
}
.banner-content-blocks ul , .banner-content-blocks label
{
    list-style-type: none;
    margin-bottom: 0;
}
.banner-content-blocks .content label
{
    width: 100%;
    font-family: 'ralewaybold';
}
.banner-content-blocks .content li
{
    font-family: 'ralewaymedium';
    
}
.banner-content-blocks .block-unit h4
{
    position: absolute;
    
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px;
    background: #297b9f!important;
    font-family: 'ralewaymedium';
}
/*** right block *****/
.right-block-outer
{
    float: left;
    
    height: 100%;
    padding-left: 10px;
    width: 250px;
}
.right-block
{
    height: 140px;
    float: left;
    width: 100%;
    padding: 5px 0;
}
.right-block .inner
{
     display: block;
  height: 100%;
     overflow: hidden;
     position: relative;
}
.right-block .inner:hover
{
    color: #fff!important;
}
.right-block .context
{
    position: absolute;
    
    bottom: 0;
    /* font-weight: bold; */
    font-size: 15px;
    padding: 5px 15px;
    font-family: 'ralewaybold';
      color: #fff;
}
.modal-forms-modal-content{height: 384px !important;
    width: 465px !important;}
.popups-body
{
	height: 344px !important;
	width: 466px !important;
}
.modal-content{border-radius:0px !important;}
div.modal-forms-modal-content .modal-header
{ padding: 1.5em 2em 1em !important;}
.right-block .context.last
{
    font-size: 16px;
    /* font-weight: lighter; */
    top: 6px;
    /* position: initial; */
    width: 100%;
    font-family: 'ralewaylight';
}
.right-block .context.last .btn
{
    margin-top: 11px;
    border-radius: 9px;
    padding: 5px 10px;
    font-size: 12px;
    font-family: 'ralewaysemibold';
}
.right-block img
{
    min-height: 100%;
}
.right-block:first-child
{
    padding-top: 0;
}
.right-block:last-child
{
    padding-bottom: 0;
}
.bg-l-blue , .form-submit , .button.active , .button.btn-default.active , 
.comment_forbidden span a , a.comment-login , .block2-outer.references a
{
    background: #00aaff;
    color: #fff;
    border: 1px solid #00aaff;
}
.button.btn-default
{
    color: #696969;
    
    border: 1px solid #d3d3d3;
    padding: 5px 9px;
    margin: 0 3px;
}
.button.btn-default:first-of-type
{
    margin-left: 0;
}
/******** news scetion starts here ********/
.news-section-container
{
    margin-top: 15px;
    
    padding-right: 320px;
    position: relative;
    float: left;
    width: 100%;
	  min-height: 780px;
}
.news-section
{
    padding-right: 30px;
    width:100%;
    float: left;
}
.item-list ul.pager li 
{
margin:0;
display: inline-block;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ddd;
}
.item-list ul.pager li.pager-current
{
  border: 1px solid #ddd!important;
  background-color:#00aaff !important;
  color: #fff !important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill 
{
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}
.view-id-news span.l-blue-text{
	display:none;
}
div.ajax-progress {
  float: right;
  margin-top: 4px;
}
.item-list ul.social-outer
{
    margin-bottom: 0;
}
.pager li > a, .pager li > span , .item-list ul.pager li.pager-current
{
color:#333;
border:0;
  padding: 5px 14px;
border-radius:0;}
.item-list .pager
{
float:left;
margin-bottom: 50px;
}
.item-list .pager li
{
padding:7px 5px;

}
.right-panel{
    width: 310px;
    
    position: absolute;
    right: 0;
    top: 0;
}
.social-outer
{
    list-style-type: none;
    float: right;
    display: inline-block;
    margin: 0;
    margin-top: -5px !important;
}
.social-outer li
{
    float: left;
    font-size: 20px;
    margin: 0 2px;
}
.social-outer li a
{
    background: url("../images/fb1.png") center no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    background-size: contain;
}
.social-outer li a:hover
{
    //box-shadow: 0px 0px 1px #333;
}
.social-outer li a.tw1
{
    background: url("../images/tw1.png") center no-repeat;
}
.social-outer li a.in1
{
    background: url("../images/in1.png")  center no-repeat;
}
.social-outer li a.gp
{
    background: url("../images/gp.png")  center no-repeat;
}
.news-section ul li.views-row
{
    padding: 20px 0;
    
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 10px;
    color: #4e4e4e;
}
.news-section ul li.views-row.views-row-last
{
    border-bottom: 0;
}
.post-date .placeholder{font-style:normal;}
.news-card h3
{
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 3px;
    line-height: 26px;
 
}
 .news-card h3 a ,  .news-card h3
 {
        color: #313131;
 
        font-family: 'ralewaysemibold';
}
.news-card img
{
    float: left;
    margin: 5px 20px 0 0;
}
.post-detail
{
    display: block;
    margin-bottom: 6px;
}
.post-date
{
    display: inline-block;
    font-weight: 600;
    font-family: 'ralewaysemibold';
}
/******** right panel ***********/
.discussion-group , .discussion-group *
{
    border-radius: 0!important;
    list-style-type: none;
       width: 100%; 
    float: left;
}
.discussion-group li
{
    float: left;
    width: 70%;
    //font-weight: 600;
    font-family: 'ralewaysemibold';
}

.view-display-id-block_1
{
}
.view-display-id-block_1  ul li
{
width: 100%;
}
.view-display-id-block_1  ul li .field-content li
{
width:70%;}
div.discussion-group ul li.comments-no
{
    width: 30%;
    font-size: 11px;
}
.discussion-group.update li:first-child
{
    width: auto;
  padding-right: 10px;

}
#block-menu-menu-footer-navigation
{
float:right;
}
#block-menu-menu-footer-navigation ul
{
list-style-type:none;
  margin: 0;
  padding: 10px 0;
}
#block-menu-menu-footer-navigation li
{
float:left;
list-style-type:none;
list-style-image:none;
}
footer #block-block-1
{
float:left;
}
footer .social{
float: left;
margin:0;
width: 280px;
padding-left: 148px;
}
footer #block-block-1 p
{  padding: 10px 0;
  margin-bottom: 0;
  float:left;
}
.discussion-group h4
{
      font-size: 20px;
  font-family: 'ralewaysemibold';
}
 .view-display-id-block_1 .views-row
{
    border: 0;
    border-bottom: 1px solid #bcbcbc;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    float: left;   z-index: 2;
    width: 100%;
}
.discussion-group h4
{
  border: 0!important;
  border-bottom: 1px solid #ccc!important;
  width: 100%;
  padding-left: 0;
}
.c-ul
{
    list-style-type: none;
    
}
.c-ul li
{
    font-family: 'ralewaymedium';
    
}
.footer-level.blu .c-ul li a
{
    color: #fff;
    font-family: 'raleway';
}
.footer-level.one h3
{
    font-family: 'ralewaymedium';
}
.c-ul li:before 
{
    content: "+";
    margin-right: 3px;
}
.c-ul.alt li:before
{
    color: #00aaff;
}
.discussion-group a  h5
{
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}
.discussion-group ul
{
    margin-bottom: 0;
}
.discussion-group
{
      margin-top: 10px;
        width: 100%;
}
.discussion-group.update
{
    margin-top: 0;
}
.discussion-group.update h4
{
 padding-left: 10px;
 padding-right: 10px;
}
.discussion-group.update a
{
      border-bottom: 0;
    padding: 7px 0;
    border: 0;
}
.discussion-group.update h4
{
      margin-bottom: 7px;
}
/****** recent blog post section */
.recent-blog h4
{
    padding: 10px;
    
    font-size: 22px;
}
.blog-card .news-card
{
    border: 0;
    padding-top: 0;
}
.recent-blog
{
    float:left;
    width: 100%;
    margin-bottom: 25px;
}
/**** footer level **********/
.footer-level.one
{
    background: #e8e8e8;
    padding-bottom: 20px;
	overflow:hidden;
}
.footer-level.one .right
{
    margin-top: 20px;
}
.footer-level.one .right .card
{
    border-radius: 7px;
    
    background: #2e88b1;
    color: #fff;
    float: left;
    padding-bottom: 3px;
}
.footer-level.one .card h2
{
      margin-top: 10px;
      font-size: 26px;
      font-family: 'ralewaysemibold';
}
.footer-level.one .map
{
    background: #333;
    border-radius: 5px;
    width: 100%;
    height: 220px;
}
.footer-level.blu
{
    padding-bottom: 20px;
    
}
footer
{
    background: #575757;
    padding: 10px 0;
    float: left;
}
footer * , footer *:hover
{
    color: #fff;
}
footer .container
{
       display: table;
}
.social , .copyright , .footer-menu
{
    float: none;
    
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
}
.social
{
    width: 250px;
    padding-left: 100px;
}
.social li
{
    float: left;
}
.social li a:hover
{
    /* box-shadow: 0px 0px 6px #fff; */
    
    border-radius: 50%;
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
}
.social li a
{
    background: url("../images/fb.png") center no-repeat;
    width: 37px;
    height: 37px;
    margin: 0 2px;
    float: left;
}
.social li .tw
{
     background: url("../images/tw.png") center no-repeat;
}
.social li .in
{
     background: url("../images/in.png") center no-repeat;
}
.footer-menu
{
    float: right;
    
    margin: 0;
    padding: 10px 0px;
}
.footer-menu li , #block-menu-menu-footer-navigation li
{
    float: left;
    padding: 0 10px;
    border-left: 1px solid #fff;
    color: #fff;
	font-size:12px;
	margin:0;
}
.footer-menu li:first-child , #block-menu-menu-footer-navigation li:first-child
{
    border: 0;
}
.pagination *
{
    border-radius: 0!important;
}
.fa-edit:before, .fa-pencil-square-o:before
{
    content: "\f044";
  font-size: 18px;
  float: left;
  line-height: 7px;
}
div.follow input.follow{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bcbcbc;
    color: #000;
    float: right;
    margin-left: 10px;
    padding: 5px 15px;
    width: auto;
float: left;
width:100px;
}
.follow > form > div
{float: right;}

 


/**********Updated Css*****************/

.view-content .item-list ul li{margin:0px;}
.view-content .item-list ul li.views-row
{
      padding: 10px 0px;
      float: left;
  width: 100%;
}
.discussion-group .view-content .item-list ul li.views-row:hover
{
      background-color: #f5f5f5;
}
.view-content .item-list ul li.views-row .field-content a
{
    color: #555;
}
.view-content ul.social-outer li{margin:0 4px 0 0;}

.discussion-group h5
{
      width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}
.basic-edit{
  display: none;
}
#startup-company-form .form-item label , .promo .form-item label
{
	min-width:150px;
	float: left;
	font-weight:normal;
          text-align: right;
  padding-right: 10px;
  margin-top: 4px;
}
#startup-company-form .form-item, .form-actions
{
      margin-top: 20px;
  margin-bottom: 20px;
}
#startup-company-form .form-item.form-item-previousfunding
{
margin-top: 25px;
  margin-bottom: 10px;
}
#edit-terms
{
    padding-left: 150px;
}
#edit-terms p
{
    margin-bottom: 0!important;
}
#startup-company-form  #edit-browsevaluations
{
      margin-top: 25px;
}
#startup-company-form .grippie
{
	display:none;
}
#startup-company-form .producttextarea
{
	width: 355px;
}
#startup-company-form .premoneyvaluation
{
	float:left;
	margin-right: 15px;
}
/*============= pop up ================*/
.c-pop-up
{
    width: 100%;
    max-width: 635px;
     background: #fff; 
}
#myModal .region-get-started
{
    max-width: 635px;
  margin: 0px auto;
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important;
  -webkit-transform: translate(0, 50%) !important;
}
.c-title
{
    padding: 5px 7px;
}
.get-started .inner
{
    padding: 10px;
    
}
.get-started .inner h3
{
    text-align: center;
    
    margin-bottom: 15px;
}
.get-started .button , .button , .form-submit
{
    font-size: 14px;
    
    width: 100%;
    float: left;
    max-width: 190px;
    text-align: center;
    padding: 8px 0px;
    /* border: 0; */
    color: #fff;
}
.comment-form .form-submit , a.comment-login
{
      float: right;
  width: auto;
  padding: 8px 20px 4px;
     color: #fff !important;
}
.newsdetail .news-section img
{
      margin: 10px 0;

}
.comment-form
{
      float: left;
  width: 100%;
  margin-bottom: 30px;
}
.button , .comment_forbidden span a
{
    width: auto;
    padding: 6px 10px;
    
    font-size: 13px;
}
.get-started .btns-outer
{
    /* float: left; */
    
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    display: table;
    margin-bottom: 15px;
}
.btns-outer li
{
    margin-bottom: 5px;
    
    /* float: left; */
}
.btns-outer label
{
    margin: 0;
    
    font-size: 13px;
    padding: 9px 0px;
    padding-left: 10px;
}
.navbar-right .dropdown-menu
{
    background: #f0f0f0;
    border: 1px solid #d3d3d3;
    padding: 15px 0;
    min-width: 500px;
    border-radius: 0;
}
.form-group label
{
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 12px;
    float: left;
}
.form-group:last-of-type
{
    margin-bottom: 0;
}
.we-chat-part:before
{
    content: "OR";
    position: absolute;
    left: -10px;
    top: 50%;
    font-weight: bold;
}
.submit-outer
{
      float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.submit-outer #edit-submit , .submit-outer #edit-cancel
{
    margin-bottom: 10px;
  width: auto;
  padding: 8px 15px;
  float: none;
  font-size: 18px;
}
.submit-outer #edit-cancel
{
    margin-left: 10px;
}
.we-chat-part *
{
    font-size: 12px;
}
.field-part
{
    padding-right: 25px;
}
.we-chat-part
{
    padding-left: 25px;
}
.we-chat-part .fa.fa-weixin
{
    color: #fff;
        
    background: #3cb034;
    padding: 5px;
    border-radius: 6px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    font-size: 26px;
}
.we-chat-part .c-head
{
    position: relative;
    
    padding-right: 50px;
}
.we-code
{
    width: 150px;
    
    margin: 10px 5px;
}
.navbar-nav > li
{
    margin: 7px 0;
    
}
.c-tabouter
{
      text-align: center;
      margin-top: 30px;
        margin-bottom: 10px;
}
.c-tabouter a
{
    font-size: 13px;
  border: 1px solid #bcbcbc;
  padding: 6px;
  min-width: 90px;
  display: inline-block;
  margin: 0 2px;
}
.c-tabouter a.active
{
      color: #fff;
  background: #00aaff;
  border: 0;
   padding: 7px;
   
}
#startup-company-form .form-text , #startup-company-form .producttextarea , .dropdown-menu .form-text ,
.comment-form input[type="text"], input.form-text , .promo .form-textarea
{
      display: block;
  width: 100%;
  height: 30px;
  max-width: 325px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
  /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-item .description
{
    font-size: 0.75em;
  MARGIN-BOTTOM: 6PX;
}
#startup-company-form .producttextarea , .promo .form-textarea
{
    height: auto;
    resize: none;
}
#startup-company-form h4
{
    font-size: 20px;
}
a.disableexperiencebutton{
  background-color: #ccc !important;
  cursor: default;
}
.c-pagetitle
{
  font-size: 23px;
  margin: 0;
  text-align: center;
  color: #fff;
  background: #4f4f4f;
  font-weight: 400;
  padding: 17px 15px;
  text-align: left;
}
.c-forminner , .c-forminner-inner
{
   border: 1px solid #bcbcbc;
  padding: 20px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.c-forminner-inner
{
     border: 0;
  padding:0 20px;
}
.c-outer
{
    border: 1px solid #bcbcbc;
  position: relative;
  padding-top: 40px;
}
.c-forminner.padd
{
    padding-left: 40px;
    padding-right: 40px;
      padding-bottom: 15px;
}
.c-forminner-inner
{
    position: relative;
    //padding-top: 40px;
}
#edit-fundraisingdescription
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
#edit-compantinformation , #edit-whyareyouhere , #edit-termsofservicedescription , #edit-termsofservicedescription
{
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.form-type-checkbox
{
    float: left;
  clear: both;
  margin: 0!important;
}
#edit-termsofservicedescription
{
    margin-bottom: 0!important;
}
#edit-termsofservicedescription h4
{
    margin-bottom: 5px!important;
}
.form-type-checkbox input[type="checkbox"]
{
      float: left;
}
.form-type-checkbox  label
{
    text-align: left !important;
    padding-left: 10px;
      margin-top: 2px;
}
#edit-recruitingdescription , #edit-incubatordescription , #edit-fundraisingdescription
{
    float: left;
  width: 100%;
  margin: 0;
  //background: #848484;
  color: #fff;
  font-size: 13px;
  padding: 0 20px;
    margin-top: 10px !important;
}
#edit-recruitingdescription p , #edit-incubatordescription p , #edit-fundraisingdescription , #edit-fundraisingdescription p
{
    margin: 0!important;
  background: #848484;
  padding: 6px 10px;
}

#edit-fundraisingdescription
{
 padding: 0!important;   
}
.dropdown-menu .form-item
{
    margin: 0;
}
.dropdown-menu #login-pop .form-item
{
        margin-bottom: 5px;
}
#login-pop .form-actions
{
    margin-top: 10px!important;
}
/******** news page ***********/
.c-pagetitle.left
{
    font-size: 23px;
    
    text-align: left;
    padding: 18px 10px;
}
#myModal button.close
{
    color: #fff;
    opacity: 1;
}
.c-pagetitle span
{
    font-size: 18px;
}
.c-pagetitle .glyphicon
{
      font-size: 15px;
  margin: 0px 5px;
}
.media-left a
{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #ccc;
    display: block;
}
.comment-time
{
    font-size: 11px;
    
}
#comments .permalink  , #edit-preview ,.comment-text .links.inline ,
.comment-form fieldset.filter-wrapper , .title.comment-form , #edit-author--2
, #edit-comment-body .form-type-textarea label , #comments .title
{
    display: none !important;
}

.form-textarea-wrapper textarea
{
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
}
#edit-submit
{
      width: auto;
  padding: 5px 10px;
  float: right;
}
#edit-actions
{
    float: left;
  width: 100%;
  margin: 10px 0 30px;
}
.field-part #edit-actions
{
    margin-bottom: 0;
}
.commenter-name , .user-name
{
  color: #00aaff!important;
  font-size: 14px;
  margin-bottom: 0px;  
}
.user-list-outer .user-name
{
    color: #313131 !important;
}
.user-descrip
{
    
}
.commenter-name .username , .commenter-name .username a
{
      color: #00aaff!important;
      font-weight: 500;
}
.comment-text h3 , .comment-text .new , .comment-permalink
{
    display: none;
}
#comment-body-add-more-wrapper > .text-format-wrapper > .form-item > label
{
    display: none;
}
body.page-startup h2.c-pagetitle{
  display: none;
}
.comment-time
{
    margin-bottom: 5px;
}
.comment , .user-list
{
      padding: 15px 0;
  /* border-bottom: 1px solid #ccc; */
    padding-bottom: 0;
  position: relative;
  padding-left: 65px;
    min-height: 85px;
}
.user-list-outer .user-list
{
    padding-right: 110px;
    
}
.media-left h5{
    font-size: 13px;
}
.navbar
{
    min-height: 73px;
}
.navbar-default
{
    background-color: transparent;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}.media-left, .media>.pull-left {
  padding-right: 10px;
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.media-body
{
      padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.comment-box
{
    border: 0;
    
    width: 100%;
    padding-bottom: 0;
}
.comment-box textarea
{
    resize: none;
    
}
.instruct
{
    /* padding: 5px; */
    
    text-align: right;
    line-height: 35px;
}
.comment-box .button , .comment_forbidden span
{
    float: right;
    margin-top: 5px;
}
.comment_forbidden span a
{
    float: none;
}
.comment-box a.button , .comment_forbidden span a
{
    margin-left: 5px;
    
    line-height: 1.4;
}
/***************** error msg ************/
div.messages
{
   // padding: 5px 10px !important;
      margin-top: 10px !important;
}
div.error
{
    //background-image: none !important;
}
 div.messages ul ,  div.messages ul li ,  div.messages ul 
 {
     margin: 0 !important;
     font-size: 12px !important;
     
 }
 .dropdown-menu label
 {
     font-size: 12px;
     margin-bottom: 1px;
 }
 .form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid red !important;
}
/*****************************************/
/*               TRENDING                */
/*****************************************/
.trending-content
{
    padding-left: 190px;
    
    position: relative;
}
.news-section-container.trending
{
    padding-right: 0;
    
}
.content_part
{
    
}
.left-part
{
    position: absolute;
    
    left: 0;
    top: 80px;
    width: 140px;
}
.tab-outer
{
    border-bottom: 1px solid #d3d3d3;
    
    float: left;
    width: 100%;
}
.tab-outer .btn-default
{
    margin-bottom: -1px;
    
}
.filter-outer
{
    float: left;
    
    width: 100%;
    padding: 10px 0;
}
.filter-outer .c-time
{
    float: left;
    
    /* padding-left: 10px; */
    margin-bottom: 0;
    padding: 6px 0px;
}
.filter-outer .c-time li
{
    float: left;
    
    padding-left: 15px;
    position: relative;
    margin-right: 10px;
} 
.c-time li.active a
{
    color: #00aaff;
    
}
.c-time li:before
{
    position: absolute;
    content: "";
    border: 4px solid #d3d3d3;
    left: 0;
    top: 4px;
}
.c-time li.active:before
{
    border: 4px solid #00aaff;
    
}
.filter-outer .c-time a
{
    color: #686868;
}
.tabs-holder
{
    float: left;
    
    background: #fff;
    margin-bottom: -1px;
    padding-right: 5px;
}
.filter-outer .share-btn
{
    float: right;
    color: #fff;
}

/*** news table *****/
.news-table
{
    width: 100%;
	clear:both;
    
    margin-bottom: 20px;
}
.news-table th
{
    padding: 5px 10px;
    
    border-bottom: 0;
}
.news-table th:nth-child(1)
{
    width: 30px;
}
.news-table th:nth-child(3) , .news-table th:nth-child(4) , .news-table td:nth-child(3) , .news-table td:nth-child(4)
{
    width: 90px;
    text-align: center;
}
.news-table tbody tr
{
    
}
.news-table td
{
    padding: 10px;
    
    border: 1px solid #bcbcbc;
    border-left: 0;
    border-right: 0;
}
tr.even,tr.odd
{
      background-color: transparent;
  border-bottom: none;
  padding: 0;
}
.news-table td label
{
    color: #686868;
    float: left;
    font-weight: 500;
      margin-top: 2px;
}
.trending .compny-logo
{
    width: 100px;
    
    height: 55px;
    border: 1px solid #d3d3d3;
    text-align: center;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}
.trending .compny-logo img
{
    height: 100%;
  WIDTH: auto;
    
}
.company-detail
{
    /* float: left; */
    
    display: table-cell;
    vertical-align: middle;
    padding-top: 8px;
}
.company-detail b
{
    clear: both;
    
    float: left;
}
.company-detail label
{
    clear: both;
    
    margin: 0;
}
.table-content-outer
{
    position: relative;
    
    float: left;
    width: 100%;
}
/******* left panel*************/
.list-group
{
    
}
a.list-group-item
{
    border-radius: 0!important;
    color: #696969;
    font-size: 12px;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 0;
    border-color: #bcbcbc !important;
    float: left;
    width: 100%;
}
a.list-group-item.active
{
    background: transparent;
    
    color: #000;
    /* border-bottom: #bcbcbc; */
}
/******************** browse all **************/
.news-table.browse-all 
{
    border-collapse: separate;
    border-spacing: 0 10px;
}
.news-table.browse-all td ,.news-table.browse-all th
{
    border: 1px solid #bcbcbc;
    border-right: 0;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
}
.news-table.browse-all td:last-child
{
    border-right: 1px solid #bcbcbc;
}
.news-table.browse-all th
{
    border-left: 0;
}
.news-table.browse-all td:nth-of-type(even)
{
    background: #efefef;
}
.news-table.browse-all th:nth-of-type(even)
{
    background: #236887;
    color: #fff;
    border: 0;
}
.news-table.browse-all th:first-child
{
     border-left: 1px solid #bcbcbc;
}

.browse-all .compny-logo
{
    border: 0;
    
    width: auto;
    height: 50px;
}
.sort-type span
{
    float: right;
}
.browse-all .left-part
{
    width: 170px;
    
}
.search-outer2 button
{
      padding: 4px 10px;
  border-radius: 0;
  margin-left: 10px !important;
}
.forgot
{
    font-size: 12px;
  color: #333;
}
.loginFormSection
{
      margin-top: 16px!important;
}
/********* 29-04---------*/
.comment-wrapper .user-picture , .user-list-outer  .user-picture
{
 float: left;
  margin-right: 10px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 15px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ccc;
  
}
.comment-wrapper .user-picture img , .user-list-outer  .user-picture img
{
      margin: 0;
      height: 100%;
}
.comment-wrapper div.comment-text
{
      float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.comment-wrapper .indented {
  margin-left: 65px;
  background: #F7F7F7;
  padding: 0 10px;
}
.comment-wrapper  .indented .comment-text
{
    border: 0;
}
.comment-wrapper  .indented .comment
{
    border-bottom: 2px solid #fff;
}
.comment-wrapper .links.inline a
{
    color: #00aaff;
}
.comment-form .grippie , #preview-ajax-comments-reply-form-24-0-0--2
{
    //display: none;
}
div.comment-wrapper
{
    float: left;
    margin-top: 0;
    width: 100%;
}
#comments {
  margin-top: 0px!important;
   margin-bottom: 40px;

}
.comment-login-link li.comment-add
{
    display: none;
}
a:hover{
  text-decoration: none;
}
.comment-form .form-actions input[value="Preview"]{
  display: none ;
}
.comment .user-picture img{
    max-width: initial;
    width: auto;
    height: 100%;
}
.link-wrapper.comment-login-link {
    margin-top: 10px;
}
div.comment-textarea
{
     // padding-left: 65px;
  float: left;
  width: 100%;
  position: relative;
  margin-top: 20px;
}
div.comment-textarea img
{
     margin: 0!important;
/*  width: 55px;
  height: 55px;
  float: left;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 13px; */
}
div.comment-textarea form
{
    margin-bottom: 0;
}
div.comment-textarea form.comment-form .form-type-item
{
    
}
div.comment-textarea .form-actions
{
    margin-top: 5px;
}
div.comment-textarea .form-textarea-wrapper textarea
{
      height: 55px;
}
.experiecnce-edit{
  display: none;
  margin-bottom: 0!important;
}

/****** product page ************/
.promo
{
    border: 1px solid #bcbcbc;
    float: left;
    width: 100%;
}
.promo *
{
   color:#fff; 
}

.top-section1
{
    background: #236887;
    
    border-bottom: 1px solid #bcbcbc;
    padding: 20px 10px 20px 20px;
    float: left;
    width: 100%;
    display: table;
    height: 145px;
}
.page-startup .top-section1
{
    background: #ececec;
}
.page-startup .promo .left1 img
{
      height: 100%;
  width: auto;
  max-width: initial;
    width: 100%;
}
.page-startup .promo .left1 > span
{
    border-radius: 0;
}
.page-startup .promo *
{
    color: #313131;
}
.product .product-image
{
  overflow: hidden;
  margin-bottom: 15px;
  height: 230px;
  text-align:center;

}
.product .product-image img
{
    height: 100%;
    width: auto;
}
.top-section1 .left1
{
    float: left;
    
    padding-left: 110px;
    position: relative;
    /* min-height: 105px; */
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.top-section1 .left1 > span
{
    width: 100px;
  height: 100px;
  position: absolute;
  background: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 50%;
  left: 0;
  top: 50%;
  margin-top: -50px;
  overflow: hidden;
  padding-right: 0;
  line-height: 97px;
}
.top-section1 .left1 h2
{
    font-size: 26px;
    
    margin-top: 0;
    margin-bottom: 0;
}
.top-section1 .left1 h6
{
    margin: 0;
    font-size: 16px;
    
}
.top-section1 .left1 label
{
      color: #696969;
  font-weight: 500;
}
.top-section1 .right1
{
    float: none;
    
    display: table-cell;
    vertical-align: bottom;
}
.top-section1 .right1 a , .user-list-outer .follow-button
{
    float: right;
    
    border: 1px solid #bcbcbc;
    background: #fff;
    margin-left: 10px;
    color: #000;
}
.top-section1 .right1 a.edit-pro , .formbutton a
{
      background: #00aaff;
  border: 0;
  padding: 5px 20px;
}
.bottom-section1
{
    
}
.bottom-section1 > ul
{
    float: left;
    
    margin: 0;
}
.bottom-section1 > ul li
{
    
    float: left;
}
.bottom-section1 > ul li a
{
    color: #313131;
    
    padding: 10px;
    float: left;
}
.bottom-section1 > ul li a span
{
    font-size: 12px;
  background: #bcbcbc;
  padding: 2px;
  border-radius: 2px;
  margin-left: 2px;
    color: #fff !important;
}
.bottom-section1 > ul li a.active
{
    color: #00aaff;
}
.promo .social-outer
{
    float: right;
    
    margin: 7px !important;
}
.block2-outer
{
     padding: 20px;
    
    float: left;
    width: 100%;
    border: 1px solid #bcbcbc;
    margin-bottom: 20px;
     color: #696969;
}
.block2-outer.founder , .block2-outer.team
{
     padding: 10px 20px;
}
.block2-outer .card-inner
{
    padding-left: 95px;
    
    position: relative;
    float: left;
    width: 100%;
      margin: 10px 0;
    min-height: 85px;
}
.block2-outer .card-inner > span
{
   width: 85px;
height: 85px;
border: 1px solid #BCBCBC;
position: absolute;
left: 0px;
top: 0px;
border-radius: 50%;
overflow: hidden;
//line-height: 83px;
}
span.company
{
    border-radius: 0!important;
}
.block2-outer .card-inner > span img
{
  height: 100%;
}
.experiencedetail .card-inner h6
{
    margin-bottom: 4px;
}
.blue-promo 
{
    padding: 15px;
    
    font-size: 16px;
    font-weight: 500;
    float: left;
    margin-top: 20px;
}
.blue-promo a
{
    clear: both;
    
    float: left;
    background: #fff;
    border-radius: 10px;
    margin-top: 10px;
}
.page-dashboard .c-pagetitle
{
    display: none;
}
.card-inner h6
{
    font-size: 13px;
    
    font-weight: 600;
    margin: 0;
}
.card-inner label
{
    color: #696969;
    
    font-weight: 500;
    font-size: 13px;
}
.ajax-comments-form-add .form-type-textarea label
{
    display: none;
}
.page-dashboard .news-section .product-image
{
    margin-bottom: 10px;
      border: 1px solid #bcbcbc;
      float: left;
      width: 100%;
      overflow: hidden;
      height:230px;
}
.page-dashboard .news-section h3
{
      float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 7px;
}
.field-type-text-long
{
    position: relative;
    padding-left: 65px;
}
div.field-name-comment-body div.form-type-item
{
    margin: 0!important;
  width: 55px;
  height: 55px;
  float: left;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 55px;
    background: #F1F2F6;
  overflow: hidden;
}
form.comment-form  .comment-form + div.form-item
{
  margin-top: 0px !important;
}
.comment-text .field-name-comment-body
{
padding-left: 0;
}
.form-item, .form-actions{

}
/*********** profile page *********/

.page-my-profile .top-section1
{
    background: #236887;
}
.page-my-profile .top-section1 *
{
    color: #fff;
    padding-right: 10px;
}
.page-my-profile .top-section1 .right1 a.info , .page-profile .top-section1 .right1 a.info
{
    background: transparent;
    
    color: #fff;
    border: 0;
    padding: 0px 0px;
    border-left: 1px solid #fff;
    padding-left: 6px;
    line-height: 12px;
    margin-left: 8px;
}
.page-my-profile .top-section1 .right1 a:last-child , .page-profile .top-section1 .right1 a:last-child
{
    border-left:0;
}
.page-my-profile  .top-section1 .left1 > span , .page-profile  .top-section1 .left1 > span
{
    border-radius: 50%;
      line-height: 100px;
}
.page-my-profile  .top-section1 .left1 > span img , .page-profile  .top-section1 .left1 > span img
{
  width: 100%;
  padding: 0;
  height: 100%;
}
.page-my-profile .block2-outer.product , .page-profile .block2-outer.product
{
    padding: 10px 20px;
    margin-bottom: 0;
    
}
.block2-outer.bottom-grey
{
    border-top: 0;
    background: #f1f1f1;
    padding-bottom: 13px;
}
.right-panel .block2-outer.bottom-grey
{
   border-top: 1px solid #bcbcbc; 
}

.page-my-profile .bottom-grey ul
{
    margin: 0;
    
}
.page-my-profile .bottom-grey li , .page-profile .bottom-grey li 
{
    float: left;
    
    color: #696969;
    margin-bottom: 2px;
    width: 100%;
}
.page-my-profile .bottom-grey h6 , .page-profile .bottom-grey h6
{
    font-size: 13px;
    
    margin-right: 10px;
    float: left;
    margin: 0;
    /* margin-right: 10px; */
    width: 30%;
    color: #313131;
    padding-right: 10px;
    max-width: 80px;
}
.page-my-profile .bottom-grey label , .page-profile .bottom-grey label
{
    float: left;
    
    width: 70%;
    
}
.block2-outer.references a
{
    float: none;
    
}
#custom-startup-team-form .grippie{
  max-width:325px;
     display: none;
}
.page-my-profile .right-panel h4 ,.page-profile .right-panel h4
{
    font-size: 16px;
}
.page-my-profile h3 , .page-profile h3
{
    margin-top: 4px;
}
.page-profile .c-pagetitle
{
    display: none;
}
.alt-ex
{
     float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
.right-panel .alt-ex
{
     
  width: 100%;
}

/***** profile page form *******/
.form-control , .page-my-profile .region-content .form-item input
{
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
  /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#edit-profileincover
{
    margin: 0;
    background: #fff;
      margin-bottom: 20px;
}
.page-my-profile .region-content form
{
    
}
.page-my-profile .c-forminner{
    background: #fff;
}
.page-my-profile .region-content .form-item label
{
      width: 25%;
  float: left;
  text-align: right;
  padding-right: 10px;
    margin-top: 5px;
    font-weight: 500;
}
.page-my-profile .c-pagetitle
{
    display: none;
}
.page-my-profile .region-content .form-item
{
      float: left;
  width: 100%;
  margin: 10px 0;
}
.page-my-profile .region-content .c-forminnerouter
{
    max-width: 500px;
}
.page-my-profile .region-content .c-forminnerouter .form-item:first-child
{
    margin: 0;
}
.page-my-profile .region-content .form-item input , .page-my-profile .region-content .form-item textarea
{
    width: 75%;
  float: left;
}
.page-my-profile .region-content .form-item input[type="file"]
{
    border: 0;
      padding-left: 0;
  line-height: 14px;

}
.page-my-profile .region-content form h4
{
   padding-left: 20px;
  font-size: 20px;
  margin-bottom: 10px!important;
}
.page-my-profile .region-content .submit-outer
{
      padding-left: 25%;
  text-align: left;
}
.page-my-profile .region-content .submit-outer input
{
    padding: 4px 15px !important;
  float: none;
  font-size: 13px !important;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  float: left;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
}
.edit-pro
{
    color: #fff !important;
    background: #00aaff;
  border: 0;
  padding: 5px;
  margin: 0;
  float: right;
  margin-bottom: 20px;
}
.a-info-outer
{
   float: left;
   width: 100%;
   margin-top: 15px;
}
.edit-pro:hover
{
    text-decoration: underline !important;
}
.edit-pro i
{
      display: none;
    margin-right: 5px;
    
}
.promo .submit-outer
{
      text-align: left;
  padding-left: 150px;

}
div.promo .submit-outer input
{
      font-size: 13px !important;
  font-weight: 500  !important;
  padding: 5px 15px  !important;
}
/**** profile page add experience changes ***/
.formbutton
{
  position: relative;
  width: 100%;
  float: left
}
.formbutton a
{
      position: absolute;
  right: 0;
  top: -35px;
  color: #fff;
    padding-left: 25px;
  
}
.formbutton a:before
{
     content: "+";
  position: absolute;
  left: 7px;
  font-size: 16px;
  top: 2px;
}
.experiecnce-edit block2-outer
{
    padding: 5px 20px;
}
#custom-startup-experience-form > div
{
    position: relative;
}
#custom-startup-experience-form > div input.form-text
{
    max-width: 100%;
}
#custom-startup-experience-form > div > .form-item 
{
    margin-top: 0;
}
#custom-startup-experience-form > div .form-type-checkbox
{
    position: absolute;
  top: 0;
  right: 0;
}
#custom-startup-experience-form > div .form-type-checkbox input
{
    margin-top: 2px;
}
#custom-startup-experience-form #box
{
    display: none;
}
#custom-startup-experience-form .submit-outer ,  #custom-startup-experience-form .submit-outer input
{
    margin-bottom: 0!important;
    width: auto;
    
}
#custom-startup-experience-form .submit-outer input{
      padding: 5px 20px;
      margin-right: 10px;
}
#autocomplete
{
    border: 1px solid #ccc;
}
#autocomplete *
{
    padding: 3px;
    float: left;
    width: 100%;
}
.user-list-outer .follow-button
{
    position: absolute;
    right: 0;
    top: 35px;
}
.follow-count
{
      float: right;
  clear: both;
  margin-top: 10px;
}
.a-info-outer .info
{
  float: right;
  padding: 0 10px;
  line-height: 14px;
  border-left: 1px solid #fff;
}
.a-info-outer .info:last-of-type
{
    border: 0;
}


/*****************************************/
/********* media queries ******************/

@media all and (max-width:1195px)
{
   .banner-outer
   {
       width: 100%}
   .banner-block
   {
       float: left;
       width: 100%;
   }
   .right-block-outer
   {
       width: 100%;
   
       padding: 0;
}
   .right-block , .right-block:first-child , .right-block:last-child
   {
       width: 33.333%;
   
       padding: 10px;
       height: 170px;
}
.right-block img
{
    width: 100%;
}
}

@media all and (max-width:768px)
{
    .news-section-container
    {
        padding-right: 0;
    }
    .right-panel
    {
        position: initial;
    
        width: 100%;
        float: left;
}
.social, .copyright, .footer-menu
{
    width: 100%;
    
    display: initial;
    float: left;
    text-align: center;
    margin: 10px 0;
}
.social
{
      width: 130px;
  margin: 0 auto;
  float: none;
  display: block;
      padding: 0;
}.footer-level.one .right .card
{
    margin-bottom: 20px;
  width: 100%;
}

.news-section
{
    padding-right: 0;
}
.right-block, .right-block:first-child, .right-block:last-child
{
    width: 100%;
}
.navbar-right
{
    margin-top: -7px;
}
.navbar-nav
{
    margin-bottom: 0;
}


}
@media all and (max-width:600px)
{
    .news-card img
{
      width: 100%;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  
}
.get-started .button
{
max-width: 100%;    
}
.btns-outer label
{
    width: 100%;
    text-align: center;
}
.btns-outer li
{
    margin-bottom: 15px;
}

}